<html>

<head>

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="{% static 'hotel_system/main_css.css' %}">
<meta charset="UTF-8">  

</head>

<body>

<form name="hotel" method="post" onsubmit='myfunction()' action={% url 'values' %}>

    {% csrf_token %}

    <div class ='admin_select'>

        <div class = 'room'>

            <p> Select Room :
                <div class = 'container'>
                    <select class = 'room_type' name ='room_type' required>
                        <option value=  "Double_Room"> Double Room </option>
                        <option value=  "Single_Room"> Single Room </option>
                    </select>
                </div>
            </p>
        </div>

        <div class = 'date'>
             <p> Select Date :
                <div class = 'container'>
                    <p> From :
                        <input type="date" id="from" name="from" min="2018-05-1" max="2019-05-31" required>
                    </p>
                    <p> To :
                        <input type="date" id="to" name="to" min="2018-05-1" max="2019-05-31" required>
                    </p>
                </div>
            </p>
        </div>

        <div class = "filter">
            <p> Select Days :
                <div class = 'container'>
                    <select id='multiple-checkboxes' multiple name="filter[]" required>
                        <option value='Monday'>Monday</option>
                        <option value='Tuesday'>Tuesday</option>
                        <option value='Wednesday'>Wednesday</option>
                        <option value='Thursday'>Thursday</option>
                        <option value='Friday'>Friday</option>
                        <option value='Saturday'>Saturday</option>
                        <option value='Sunday'>Sunday</option>
                    </select>
                </div>
            </p>
        </div>

        <div class = 'price'>
            <p> Change Price to :
                <div class = 'container'>
                    <input type="text" id = "price" placeholder = "Enter Price" name="price" required>
                </div>
            </p>
        </div>

        <div class = 'availability'>
            <p> Change Availability to :
                <div class = 'container'>
                    <input type="text" id = "avail" placeholder = "Enter Availability" name="avail" required>
                </div>
            </p>
        </div>

            <input type="submit" value="Update" id="Update">
        </div>

    </div>

    <script  src="{% static 'hotel_system/main_js.js' %}"></script>
</form>

<form action="{% url 'month' %}" method ="post">

    {% csrf_token %}

<select onchange="this.form.submit()" name="month">
{% for months in display_month %}
    {% ifequal month_compare months.month_year %}
    <option value= {{ months.month_year }} name="month" selected="selected">
        {{ months.month_year }}
    </option>
    {% else %}
        <option value= {{ months.month_year }}>
        {{ months.month_year }}
    </option>
        {% endifequal %}

{% endfor %}
</select>
</form>
<table border="6">

    {% csrf_token %}

    <tr>
        <td>Price and Availability</td>
        {% for details in Calendar %}
            <td>{{ details.day }}</td>

         {% endfor %}
    </tr>
    <tr>
        <td>Dates</td>
        {% for details in Calendar %}

            <td align="center">{{ forloop.counter }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="32" bgcolor="aqua"><b>Single room</b></td>
    </tr>
    <tr>
        <td>
            Price
        </td>
        {% for details in Calendar %}
            <td align="center" contenteditable="true" class="abcd" headers="price_single" id={{ details.id }} >{{ details.price_single }}</td>
         {% endfor %}
    </tr>
    <tr>
        <td>Rooms Available</td>
         {% for details in Calendar %}
            <td align="center" contenteditable="true" class="abcd" headers="avail_single" id={{ details.id }}>{{ details.avail_single }}</td>
         {% endfor %}

    </tr>
    <tr>
        <td colspan="32" bgcolor="green"><b>Double Room</b></td>
    </tr>
    <tr>
        <td>Price</td>
         {% for details in Calendar %}
            <td align="center" contenteditable="true" class="abcd" headers="price_double" id={{ details.id }}>{{ details.price_double }}</td>
         {% endfor %}
    </tr>
    <tr>
        <td>Rooms Available</td>
         {% for details in Calendar %}
            <td align="center" contenteditable="true" class="abcd" headers="avail_double" id={{ details.id }}>{{ details.avail_double }}</td>
         {% endfor %}
    </tr>

</table>

<script>

function myfunction() {

    alert('Value Successfully Updated')

}

var url = "{% url 'cont' %}";


var contents = $('.abcd').html();
$('.abcd').blur(function ()
{
    if (contents != $(this).html())
    {
        contents = $(this).attr('id');
        header = $(this).attr('headers');
        val = $(this).html();
        $.ajax
        ({
            url : url,
            type: "POST",
            data: {name: val, new : contents, heads : header, csrfmiddlewaretoken: "{{ csrf_token }}"},
            success : function () {
                alert('Value Successfully Updated')
            },
            error : function () {
                alert('Please Try again');

            }

        });
    }
});










</script>

</body>
</html>